body{
    display: grid;
    grid-template-columns: 1fr 90% 1fr;
    font-family: "trebuchet ms",sans-serif;
    background-color: white;
    line-height: 1.5;
    text-size-adjust: 100%;
    margin:0;
    border:0;
    padding:0;
    background-image:url(/afbeeldingen/achtergrond%20account.jpg);
    background-size: cover;
}

/*navigatie header*/
header {
    grid-column-start: 1;
    grid-column-end: 4;
    transition: all .2s;
}

header ul {
    height:2.5rem;
    position:fixed;
    box-shadow: 0px 0px 16px 0px;
    background-color:white; 
    width: 100%;
    margin:0;
    padding-top:0.5rem;
    padding-bottom:0.2rem;
}

header nav ul li{
    display:block;
    position:relative;
    float:right;
    padding-right:1rem;
}

header nav ul li:nth-of-type(1){
    display:block;
    position:relative;
    float:left;
}

header nav ul li:nth-of-type(2){
    margin-right:3rem;
}

header nav ul li img{
    height:2rem; 
}

header nav ul li img:nth-of-type(1):hover{
    height:2.5rem;
}

header nav ul li h2{
    display:inline;
    font-size:1rem;
    color:#00d66c;
    align-items: center;
}

header nav ul li h2:hover{
    font-size:1.5rem;
}

main{
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top:10rem;
    margin-bottom:10rem;
    border-radius: 1.25em;
    float:inherit;
    transition: all .6s;
}

/*//////registreren button/////*/

/*/////////form//////////*/

fieldset{
    width:60%;
    align-content: center;
    text-align: center;
    white-space: nowrap;
    border-radius:1.25em;
    box-shadow: 0px 0px 16px 0px rgba(36,36,36,1);
    display:flex; 
    margin:auto;
    background-color:rgb(255, 255, 255, 0.9);
    height:27rem;
    transition: all .2s;
}

legend {
      display:none;
}

fieldset label:nth-of-type(1){
    margin-top: 3.5rem;  
}

fieldset h1{
     font-size: 2em;
     color: #00d66c;
}

label {
    color: grey;
}
    
input {
    margin-top: 2.5em;
    height: 3em;
    padding-left: 0.5em;
    width: 14em;
}

fieldset label:nth-of-type(2){
    margin-bottom: 3em;
}
    

/*////////feedback form/////////*/
label:hover {
    transform: scale(1.10);
}

.correct {
    font-size: 0.8em;
        color: #4FB266;
}

fieldset:invalid .correct {
        display: none;
    }
    
input:invalid {
    border-color: grey;
}

input:valid .correct {
    display: block;
}

input:valid{
   border-color: #4FB266;
}
    
input:focus {
    transform: scale(1.20, 1.20);
}

/*////////button/////////*/
button{
    display:flex; 
    margin:auto;
    width:10rem; 
    height:2rem;
    background-color:#E8496A;
    border-radius: 1.25em;
    box-shadow: inset 0 -0.1875em 0.0625em #ca2b55; 
    color:white;
    font-size: 1rem;
    padding-left:3rem;
    padding-right:3rem;
    margin-bottom: 2rem;
    }

button:hover{
    background-color: #ff658E;
    }
    
button:active{
    background-color: #4FB266;
    color: #fff;
    box-shadow: inset 0 -0.1875em 0.0625em #84DC9C; 
    }
    
button:focus {
    transform: scale(1.08, 1.08);
    }

/*////////Metadata/footer/////////*/
footer{
    grid-column-start: 1;
    grid-column-end: 4;
    width:100%;
    color: #606060;
    background-color:#f7f7f7;
}

footer ul{
    height:100%;
    padding: 0;
}

footer nav ul li {
 display:block;
    width:2rem;
    padding-left:3rem;
}


h3{
    font-size:0.7rem;
    color:gray;
}

footer ul li {
 display:inline;
    padding-left:3rem;
}

footer img{
    width:2rem;
    
}

footer p{
    align-content: center;
    text-align: center;
    font-size:0.7rem;
}

/*////registreren////*/
.aanmelden{
    margin:auto;
    color:black;
    font-size: 0.7rem;
}

fieldset a{
    margin:auto;
    color:black;
    font-size: 0.8rem;
}

/*/////Ipad/////*/
@media only screen and (max-width: 950px) and (min-width: 650px){ 
    
    fieldset{
    width:70%;
    }
    
    footer{
        display:inline-block;
        align-content: center;
        text-align: center;
    }
    
    footer nav ul li {
        display:inline-block;
    }
}


/*/////Iphone////*/
@media only screen and (max-width: 649px) and (min-width: 0px){
    
    section{
        background-image: url(/afbeeldingen/lezen2.jpg);
    }
    
     section div{
        margin-left: 5rem;
        margin-right: 5rem;
    }
    
    header nav ul li h2 {
        display:none;
        }
    
    fieldset{
    width:80%;
    }
    
    footer{
        display:inline-block;
        align-content: center;
        text-align: center;
    }
    
    footer nav ul li {
        display:inline-block;
    }
}