body {
    display: grid;
    grid-template-columns: 1fr 90% 1fr;
    font-family: "trebuchet ms", sans-serif;
    background-color: white;
    line-height: 1.5;
    text-size-adjust: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    transition: all .6s;
}

/*navigatie header*/
body > header {
    grid-column-start: 1;
    grid-column-end: 4;
}

header ul {
    height: 2.5rem;
    position: fixed;
    box-shadow: 0px 0px 16px 0px;
    background-color: white;
    width: 100%;
    margin: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.2rem;
}

header nav ul li {
    display: block;
    position: center;
    float: right;
    padding-right: 1rem;
    padding-top: 1rem;
}

header nav ul li:nth-of-type(1) {
    display: block;
    position: relative;
    float: left;
    padding: 0;
}

header nav ul li:nth-of-type(2) {
    margin-right: 3rem;
    background-image: url(/afbeeldingen/favorieten.svg);
    background-size: 2.5rem;
    background-position: left;
    background-repeat: no-repeat;
}

header nav ul li:nth-of-type(3) {
    background-image: url(/afbeeldingen/verhalenverzameling.svg);
    background-size: 3rem;
    background-position: left;
    background-repeat: no-repeat;
}

header nav ul li:nth-of-type(4) {
    background-image: url(/afbeeldingen/zoekengroen.svg);
    background-size: 3rem;
    background-position: left;
    background-repeat: no-repeat;
}

#button {}

header nav ul li img {
    height: 2rem;
}

header nav ul li h2 {
    display: inline;
    font-size: 1rem;
    color: #00d66c;
    align-items: center;
    margin-left: 2.4rem;
}

header nav ul li img:nth-of-type(1):hover {
    height: 2.5rem;
}

header nav ul li h2:hover {
    font-size: 1.5rem;
}

.zoekbalk {
    display: inline-block;
    top: 3rem;
    width: 100%;
    margin-top: -50%;
    background-color: white;
}

.achtergrond zoekbalk {
    background-color: white;
}

.zoekbalk input {
    width: 90%;
    height: 2em;
    box-shadow: 0px 0px 6px 0px;
    padding-bottom: 0.2rem;
    padding-top:0.2rem;
}

.balk {
    display:inline-block;
    top: 10rem;
    width:100%;
    margin-top: 3.5rem;
    background-color: white;
    animation: wiggle .5s .5s 1;
    transform-origin: center bottom;
    padding-bottom:0;
}

/* Roepen tot actie/call-to-action: verhalen verzamelen*/
section {
    grid-column-start: 1;
    grid-column-end: 4;
    background-image: url(/afbeeldingen/lezen4.png);
    background-size: cover;
    background-repeat: no-repeat;
}

section div {
    height: 11rem;
    border-radius: 1.25em;
    margin-top: 4rem;
    margin-bottom: 2rem;
    margin-left: 15rem;
    margin-right: 15rem;
    background-color: rgb(245, 245, 240, 0.3);
    box-shadow: 0px 0px 16px 0px rgba(36, 36, 36, 1);
    box-sizing: border-box;
}

section div h2 {
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #E8496A;
    padding: 1rem;
    padding-top: 2rem;
}

section div button {
    display: flex;
    margin: auto;
    width: 13rem;
    height: 2rem;
    background-color: #E8496A;
    border-radius: 1.25em;
    box-shadow: inset 0 -0.1875em 0.0625em #ca2b55;
    color: white;
    padding-left: 3rem;
    padding-right: 3rem;
}

body section div button:hover {
    background-color: #ff658E;
    transform: scale(1.10, 1.10);
    transition: all .3s;
}

/* filteren & sorteren*/
form {
    grid-column-start: 1;
    grid-column-end: 4;
    align-content: center;
    text-align: center;
    width: 100%;
    padding: 0.5rem;
    background-color: #f7f7f7;
    overflow: auto;
    white-space: nowrap;
}

fieldset {
    background: #f7f7f7;
    border: #f7f7f7;
    box-sizing: border-box;
}

legend {
    display: none;
}

input {
    padding: 6px 14px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 1.25em;
    box-shadow: inset 0 -0.1875em 0.0625em #120145;
}

filter {
    width: 6rem;
}

label {
    height: 100%;
    width: 100%;
    background-color: #343589;
    color: white;
    padding: 6px 14px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 1.25em;
    margin: 0.1rem;
    box-shadow: inset 0 -0.1875em 0.0625em #120145;
}

label:hover {
    background-color: #2800A0;
}

/*Main, verhalen*/
main {
    margin-top: 3rem;
    margin-bottom: 3rem;
    grid-column-start: 2;
    grid-column-end: 2;
    align-content: left;
    color: #343589;
    background-color: #f7f7f7;
    border-radius: 1.25em;
    columns: 1fr 1fr 1fr;
}

main h1 {
    padding: 1.5rem;
    padding-left: 2rem;
    margin-bottom: 0;
    margin-top: 0;
    border-radius: 1.25em;
}

main div {
    display: flex;
    align-content: center;
}

main div article {
    width: 28%;
    display: inline-block;
    align-content: center;
    text-align: center;
    background-color: #f7f7f7;
    white-space: nowrap;
    margin: 2rem;
    background-size: cover;
    border-radius: 1.25em;
    box-shadow: 0px 0px 16px 0px rgba(36, 36, 36, 1);
}

main article:nth-of-type(1) {
    background-image: url(/afbeeldingen/hardboiled-1.png);
}

main article:nth-of-type(2) {
    background-image: url(/afbeeldingen/mop-1.png);
}

main article:nth-of-type(3) {
    background-image: url(/afbeeldingen/hyperbool-1.png);
}

main article header {
    padding: 1rem;
    align-content: left;
    text-align: left;
    background-color: rgb(240, 240, 240, 0.5);
    border-radius: 1.25em;
}

main article p {
    padding: 1rem;
    margin: 0;
}

main article header > h2 {
    margin: 0;
}

article header h2 > img {
    width: 2.5rem;
}

.lezen {
    display: flex;
    margin-left: auto;
    margin-bottom: 2rem;
    width: 3rem;
    height: 3rem;
    border-radius: 3em;
    background-image: url(/afbeeldingen/verderlezen.png);
    background-size: cover;
    background-repeat: no-repeat;
}

main article p button {
    align-content: center;
    margin: auto;
    width: 8rem;
    height: 2rem;
    background-color: #E8496A;
    border-radius: 1.25em;
    box-shadow: inset 0 -0.1875em 0.0625em #ca2b55;
    background-image: url(/afbeeldingen/opslaan.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.4s;
    cursor: copy;
}

main article p button:hover {
    background-color: #ff658E;
    transform: scale(1.10, 1.10);
    transition: all .3s;
    cursor: copy;
}

/*Metadata*/
footer {
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
    color: #606060;
    background-color: #f7f7f7;
}

footer ul {
    height: 100%;
    padding: 0;
}

footer nav ul li {
    display: block;
    width: 2rem;
    padding-left: 3rem;
}


h3 {
    font-size: 0.7rem;
    color: gray;
}

footer ul li {
    display: inline;
    padding-left: 3rem;
}

footer img {
    width: 2rem;

}

footer p {
    align-content: center;
    text-align: center;
    font-size: 0.7rem;
}

/*/////Ipad/////*/
@media only screen and (max-width: 950px) and (min-width: 650px) {
    section {
        background-image: url(/afbeeldingen/lezen4.png);
    }

    section div {
        margin-left: 8rem;
        margin-right: 8rem;
    }

    main div {
        display: inline-block;
    }

    main div article {
        width: 40%;
    }

    footer {
        display: inline-block;
        align-content: center;
        text-align: center;
    }

    footer nav ul li {
        display: inline-block;
    }
}

/*/////Iphone////*/
@media only screen and (max-width: 649px) and (min-width: 0px) {

    section {
        background-image: url(/afbeeldingen/lezen2.jpg);
    }

    section div {
        margin-left: 5rem;
        margin-right: 5rem;
    }

    header nav ul li h2 {
        display: none;
    }
    
    header nav ul li{
        width:1.5rem;
        height:1.5rem;
    }

    main div {
        display: inline-block;
    }

    main div article {
        width: 90%;
    }

    footer {
        display: inline-block;
        align-content: center;
        text-align: center;
    }

    footer nav ul li {
        display: inline-block;
    }
}



/////////*Bronnen/*/

/*http://stephen.io/mediaqueries/iphonex/

/*https://www.emailonacid.com/blog/article/email-development/emailology_media_queries_demystified_min-width_and_max-width/
